[% DEFAULT
  disk_cache = 'writeback'
-%]
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw' cache='[% disk_cache -%]'/>
      <source file='[% image_path -%]'/>
      <target dev='[% devname -%]' bus='[% driver -%]'/>
[% IF driver == "ide" -%]
      <address type='drive' controller='0' bus='[% controller.bus -%]' unit='[% controller.unit -%]'/>
[% END -%]
    </disk>
