    <interface type='bridge'>
      <mac address='[% mac -%]'/>
      <source bridge='[% bridge -%]'/>
      <model type='[% driver -%]'/>
[% IF ip && clean_traffic -%]
      <filterref filter='clean-traffic'>       
        <parameter name='IP' value='[% ip -%]'/>
      </filterref> 
[% END -%]
    </interface>
